* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

[data-theme="dark"] {
    --bg-color: #111111;
    --text-color: #f0f0f0;
    --toggle-button-bg: #f0f0f0;
}

[data-theme="light"] {
    --bg-color: #f0f0f0;
    --text-color: #111111;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

#svg-container svg {
    width: 640px;
    height: 360px;
}

#toggle-theme {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--text-color);
    color: var(--bg-color);
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    width: 55px;
}

.btn {
    border: none;
    color: #496195;
    background-color: rgba(0, 0, 0, 0);
    font-size: 40px;
    cursor: pointer;
}

#stop-recording {
    justify-content: space-between;
}

#canvas {
    margin-top: 5px;
    width: 640px;
    height: 360px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-btns {
    display: flex;
    justify-content: space-between;
    width: 640px;
}

.buttons-container {
    display: flex;
    justify-content: center;
}

.slide-btns button {
    margin: 0 5px;
}

  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.big {
    font-size: 40px;
}

.small {
    font-size: 16px;
}

.medium {
    font-size: 25px;
}

.title {
    text-align: center;
    margin-top: 30px;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
}

.subtitle a {
    text-decoration: none;
    color: #496195;
}

.final-text {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;
    justify-content: center;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
}

.video-container video {
    margin-top: 5px;
    width: 640px;
    height: 360px;
}

@media (max-width: 1453px) {
    #toggle-theme {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: var(--text-color);
        color: var(--bg-color);
        border: none;
        border-radius: 40px;
        padding: 20px;
        font-size: 60px;
        cursor: pointer;
        width: 110px;
    }

    .title {
        text-align: center;
        margin-top: 200px;
    }
    
    .big {
        font-size: 60px;
    }

    .small {
        font-size: 35px;
    }

    .medium {
        font-size: 42px;
    }

    #canvas {
        margin-top: 10px;
        width: 80vw;
        height: 45vw;
    }

    #container {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 50px;
    }

    .slide-btns {
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }

    .btn {
        border: none;
        color: #496195;
        background-color: rgba(0, 0, 0, 0);
        font-size: 80px;
        margin: 0 50px;
        cursor: pointer;
    }

    .slide-btns button {
        margin: 0 20px;
    }

    .video-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px 0 0 0;
    }

    .video-container video {
        margin-top: 10px;
        width: 80vw;
        height: 45vw;
    }

    .final-text {
        margin-left: 10vw;
        margin-right: 10vw;
        margin-bottom: 20px;
    }
}
